<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anantha krishna</title>
    <link rel="stylesheet" href="/main.css">
   
</head>
<body>

    <header>

        <section id="nav">

            <div id="my-name">Anantha Krishna</div>
            <ol id="orderedList">
                <li> 
                 
                  <a href="#aboutMe">About</a></li>
                <li>
                 
                  <a href="#mySkills">Skills</a></li>
                <li>
                 
                  <a href="#contactMe">Contact Me</a></li>
                <li>
                  
                  <a href="#">Resume</a></li>
            </ol>
        </section>

        <section id="nav1">
          <nav class="nav-bar">
            <a href="#aboutMe" class="nav-branding">A.K.</a>
      
            <ul class="nav-menu">
              <li class="nav-item">
                <a href="#aboutMe" class="nav-link">About</a>
              </li>
              <li class="nav-item">
                <a href="#mySkills" class="nav-link">Skills</a>
              </li>
              <li class="nav-item">
                <a href="#contactMe" class="nav-link">Contact</a>
              </li>
              <li class="nav-item">
                <a href="https://drive.google.com/file/d/1adMVy48Ay89bG-y48TT2ukrwgFNIYsow/view?usp=drivesdk" class="nav-link">Resume</a>
              </li>
            </ul>
      
            
          </nav>
        </section>
      </header>
   
 

    </header>

    <main>
        <div id="hero3d"></div>
        <div><svg class="arrows">
            <path class="a1" d="M0 0 L30 32 L60 0"></path>
            <path class="a2" d="M0 20 L30 52 L60 20"></path>
            <path class="a3" d="M0 40 L30 72 L60 40"></path>
          </svg></div>
    </main>
   
    <div id="content" >
        <h2 id="aboutMe">About Me</h2>

        <div id="aboutUs">

        <img src="/img/profile.jpg" alt="profilePhoto">

        <p id="startAbout">I am currently a 3rd-year Electronics Engineering student at NMAM Institute of Technology, where I am actively pursuing my passion for both electronics and software development. My academic journey has allowed me to develop a strong foundation in various technologies and skills that span across multiple disciplines.

            In the field of software development, I have proficiency in front-end technologies like HTML, CSS, and JavaScript, along with expertise in backend frameworks such as Node.js, Express.js, and Nest.js. I am also experienced in working with databases like MongoDB and PostgreSQL, which enable me to design, develop, and manage robust web applications. I particularly enjoy backend development, where I have been able to hone my skills in building scalable and efficient server-side applications.
            
            On the electronics side, I am passionate about PCB design and enjoy working on embedded systems projects. My experience in both hardware and software allows me to integrate these two fields seamlessly, enabling me to work on complex, interdisciplinary projects.
            
            Beyond academics, I have a strong interest in UAV technology, specifically in the areas of fixed-wing UAV fabrication and multirotor systems. I enjoy the hands-on work of calibrating and piloting multirotor drones, and I actively participate in projects involving the design and flight of UAVs.
            
            I believe in constantly learning and expanding my skill set, and I am excited about opportunities that challenge me to grow as both an engineer and developer. Whether it’s building web applications or working on cutting-edge electronics projects, I am always looking for ways to push the boundaries of what I can achieve</p>
        
          <p id="contd.">
            I am currently a 3rd-year Electronics Engineering student at NMAM Institute of Technology, where I am actively pursuing my passion for both electronics and software development.
          </p> 
          </div>

        <h2 id="mySkills">My Skills</h2>

        <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    HTML &amp; CSS
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    
                    <span class="ag-courses-item_date">
                      <img src="/img/htmlcss.png" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                   JavaScript
                  </div>
          
                  <div class="ag-courses-item_date-box">
                  
                    <img src="/img/javascript.jpeg" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    NodeJS
                  </div>
          
                  <div class="ag-courses-item_date-box">
                   
                    <span class="ag-courses-item_date">
                      <img src="/img/nodejs.png" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    ExpressJS &amp; NestJS
                  </div>
          
                  <div class="ag-courses-item_date-box">
                   
                    <span class="ag-courses-item_date">
                      <img src="/img/express.jpeg" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    PostgreSQL
                  </div>
          
                  <div class="ag-courses-item_date-box">
                 
                    <span class="ag-courses-item_date">
                      <img src="/img/psql.jpeg" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    MongoDB
                  </div>

                  <div class="ag-courses-item_date-box">
                    
                    <span class="ag-courses-item_date">
                      <img src="/img/mongodb.png" alt="htmlcss" style="height: 4vw; width: 9vw;">
                    </span>
                  </div>

                </a>
              </div>
            </div>
          </div>
        
          <h2 id="myHobbies">Hobbies</h2>

          <div class="ag-format-container">
            <div class="ag-courses_box">
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    Fixed Wing UAV Fabrication
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    
                    <span class="ag-courses-item_date">
                     
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                   Multirotor Calibration and Fabrication
                  </div>
          
                  <div class="ag-courses-item_date-box">
                   
                    <span class="ag-courses-item_date">
                     
                    </span>
                  </div>
                </a>
              </div>
          
              <!-- <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    NodeJS
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    ExpressJS &amp; NestJS
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      04.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    PostgreSQL
                  </div>
          
                  <div class="ag-courses-item_date-box">
                    Start:
                    <span class="ag-courses-item_date">
                      30.11.2022
                    </span>
                  </div>
                </a>
              </div>
          
              <div class="ag-courses_item">
                <a href="#" class="ag-courses-item_link">
                  <div class="ag-courses-item_bg"></div>
          
                  <div class="ag-courses-item_title">
                    MongoDB
                  </div>
                </a>
              </div> -->


            </div>
          </div>

    </div>

    <h2 id="myAchievement">Achievements</h2>
    
    <section id="timeline">
        <article>
          <div class="inner">
            <span class="date">
              <span class="day">06<sup>th</sup></span>
              <span class="month">July</span>
              <span class="year">2024</span>
            </span>
            <h2>SAE ADDC | AIR 1</h2>
            <p>Worked on fabricating the quadcopter with the team, implemented various autonomous
              missions through Ardupilot and went through the Ardupilot documentation. Built a live web
              positioning app to get accurate coordinates of the remote location to deliver a fragile payload.</p>
          </div>
        </article>
        <article>
          <div class="inner">
            <span class="date">
              <span class="day">21<sup>st</sup></span>
              <span class="month">Jan</span>
              <span class="year">2024</span>
            </span>
            <h2>BOEING IIT KHARAGPUR</h2>
            <p>Built a RC plane that could carry 36 golf balls as a payload and drop it in designated flying zone
              along with the team. Got selected to finals in RVCE, Bangalore after backing the 2nd position.</p>
          </div>
        </article>
        <article>
          <div class="inner">
            <span class="date">
              <span class="day">29<sup>th</sup></span>
              <span class="month">April</span>
              <span class="year">2023</span>
            </span>
            <h2>BOEING RVCE FINALS</h2>
            <p>Won 3rd position at the Boeing National Aeromodelling Competitiion 2023. The competition
              had close to 2200 students across India from various NIT’s,IIT’s and other prestigious colleges.
              My team stood 3rd among them, in which our RC plane flew for the time that was mentioned in
              problem statement and dropped the balls within the circle of 5 meters.</p>
          </div>
        </article>
        <article>
          <div class="inner">
            <span class="date">
              <span class="day">28<sup>th</sup></span>
              <span class="month">Jan</span>
              <span class="year">2023</span>
            </span>
            <h2>BOEING IIT MADRAS</h2>
            <p>Worked with the team to fabricate RC plane that could carry 24 golf balls and drop in the
              designated area within the stipulated time. Got selected for the finals at RVCE, Bangalore.</p>
          </div>
        </article>
        <!-- <article>
          <div class="inner">
            <span class="date">
              <span class="day">26<sup>th</sup></span>
              <span class="month">Jan</span>
              <span class="year">2014</span>
            </span>
            <h2>The Title</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis rutrum nunc, eget dictum massa. Nam faucibus felis nec augue adipiscing, eget commodo libero mattis.</p>
          </div>
        </article> -->
      </section>

    <footer id="footer">
        <h2 id="contactMe">Contact me</h2>
        <form id="contactForm" method="POST" action="sendMail" >      
            <input name="name" type="text" class="feedback-input" placeholder="Name" />   
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="message" class="feedback-input" placeholder="Comment"></textarea>
            <button type="submit" value="submit" >submit</button>
          </form>

    </footer>

<script type="module" src="/main.js"></script>



</body>
</html>